<template name="ForgotPassword">
	<div class="text-right" id="forgotPassForm">
		{{#if showForgetFormField }}
			<br>
			<form action="/forgot" id="forgotPasswordForm" method="post">
		      <input id="forgotPasswordEmail" class="form-control" type="text" name="email" placeholder="Email Address">
		      <br>
		      <input class="btn btn-custom" type="submit" value="Send">
		      <!-- <button type="submit" class="btn btn-custom">Register</button> -->
		    </form>
	    	<!-- end #forgot-password-form -->
		{{ else }}
			<h6><a href="#" id="forgot">Forgot Password?</a></h6>	
		{{/if}}
	</div>
</template>

<template name="ResetPassword">

    {{#if resetPassword}}
    <form action="/reset-password"  id="resetPasswordForm" method="post">
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
        <input class="btn-submit" type="submit" value="Reset">
    </form>
    <!-- end #reset-password-form -->
    {{/if}}

</template>